.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red
}
.input {
    border-radius: 5px;
}

.save {
    margin: 5px;
    background-color: rgba(176, 224, 230, 0.69);
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}