.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
margin-bottom: 645px;
}

.dialogsItems {
    padding: 10px;
}

.active {
    color: gold;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.messages .message {

}

.dialog {
    color: black;
    text-decoration: none;
}
